.slidereadmore{
    color: #000;
    border-radius: 25px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 10px 0 0;
    padding: 10px 25px;
    border: 1px solid #fff;
    display: inline-block;
    
   
}#carouselExampleIndicators{
	  position: relative;

  display: -webkit-box;
  display: flex;

  max-width: 70rem;
  min-height: 35mre;
  margin: auto;

 

  -webkit-box-pack: center;
  justify-content: center;
  
   padding-top: 5px;
    
}
.body{
	background-image: url(/imagens/fundo6.jpg);
	background-repeat: no-repeat;
	background-size: 150%
}
.nav{
    text-transform: uppercase;
    margin: 25px 10px 0 0;	 
}
.nav-item{
	margin: 0 5px 0 0 ;
}


.needs-validation{
	
	   color: #fff;
	margin: 10px 105px 0 450px ;

}
#botaoLogin{
	margin: 0 50px 0 0 ;
	float: right;
	margin-top: 2px;
	margin-right: 18px;
	  border-radius: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
#salvar{
	margin:5px 0px 0 403px;
}
.form-gruop{
	margin:5px 0 5px 0;
}
.list-group{
	margin: 10px 200px 0 200px ;	
	font-weight: bold;
	opacity : 0.5;
	   
 
}
.section_title{
	font-weight: 800;
    font-size: 50px;
    margin: 150px 0 25px 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
#tabela{
	   color: #fff;

	   font-size: 20px;
    
}
#icone{
	float: left;
	margin: 5px 5px 0px 0px ;

}
#botaoLogin2{
	margin: 0px 0px 5px 0px ;
	border-radius: 25px;
    font-weight: bold;
    text-transform: uppercase;
}
#th1{
	 border-bottom: 1px solid #fff; 
}
.our_event_list {
    
     border-bottom: 1px solid #fff; 
    
     font-weight: bold;
     color: #fff;
     
     
}

#botaoLogin3{
	
	
	
	border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 4px 5px 0;
	
}
#texto{
	color: white;
}

#texto-cor{

   
    
   color: white;
    
}







