<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">

<section layout:fragment="conteudo">


<form class="needs-validation" method="POST" action="/home/novoEvento"  th:if="${!#lists.isEmpty(todasCasasShow)}" th:object="${novoShow}" >
	
		<input type = "hidden" th:field="*{codigo}"/>
	
	<div layout:insert="MensagemSuccess"></div>
	
	<div layout:insert="MensagemDanger"></div>
			
		<h2 class="section_title">Novo Evento</h2>
		
	
	<div class="form-gruop row ">

			<label for="nomeEvento" class="col-sm-3 col-form-label text-right">Nome do Evento</label>
		<div class="col-sm-4">
			<input type="text"  required class="form-control" id="nomeEvento" th:field="*{nomeEvento}" placeholder="ex: show da Eduarda" th:classappend="${#fields.hasErrors('nomeEvento') } ? 'is-invalid'" >
		</div>

	</div>
		<div class="form-gruop row ">

			<label for="capacidadeEvento" class="col-sm-3 col-form-label text-right ">Ingressos Disponíveis</label>
			<div class="col-sm-2">
				<input type="text" class="form-control" id="capacidadeEvento" th:field="*{capacidadeEvento}" placeholder="ex: 1000" required th:classappend="${#fields.hasErrors('capacidadeEvento') } ? 'is-invalid'" >
			</div>

		</div>
		
		
		<div class="form-gruop row ">

			<label for="valorEvento" class="col-sm-3 col-form-label text-right ">Valor do Ingresso</label>
			<div class="col-sm-2">
				<input type="text" class="form-control js-currency " id="valorEvento" th:field="*{valorEvento}"
					placeholder="ex: 550,00" required th:classappend="${#fields.hasErrors('valorEvento') } ? 'is-invalid'" >
			</div>

		</div>
		
		
			<div class="form-group row">
				<label for="dataEvento"class="col-sm-3 col-form-label text-right">Data Do Evento</label>
				<div class="col-sm-2">
					<input type="text" class=" form-control" id="dataEvento" th:field="*{dataEvento}"
						 placeholder="ex: 22/04/1999" required  th:classappend="${#fields.hasErrors('dataEvento') } ? 'is-invalid'"
						data-provide="datepicker" data-date-format="dd/mm/yyyy" data-date-language="pt-BR"
						data-date-autoclose="true" data-date-today-highlight="true" data-date-orientation="buttom"/>
				</div>
			</div>
		
		<div class="form-gruop row ">  
			<label class="col-sm-3 col-form-label text-right"
				for="selecionarGenero">Selecionar Gênero</label>
			<div class="col-sm-2">
				<select class="form-control" id="selecionarGenero"  th:field="*{selecionarGenero}" >
					<option th:each="selecionarGenero : ${todosGeneros}" th:value="${selecionarGenero}" th:text="${selecionarGenero.descricao}"></option>
					
				</select>
			</div>
		</div>
		<div class="form-gruop row ">
			<label class="col-sm-3 col-form-label text-right"
				for="selecionarCasas">Escolher Casa de show do Evento</label>
			<div class="col-sm-2">
				<select class="form-control" id="selecionarCasas"   name="selecinarCasas">
				
				<option th:each="Casa : ${todasCasasShow}"
							th:value="${Casa.codigo}" th:text="${Casa.nomeCasa}"></option>
					
				</select>
			</div>
		</div>
		  

		<div id="salvar">
			<button class="btn btn-outline-success col-sm-2" type="submit">Salvar</button>
		</div>
	</form>
	 <div class="text-center section_title" th:if="${#lists.isEmpty(todasCasasShow)}">É nescesario pelo menos ter uma casa de show cadastrada para poder cadastrar um novo evento :( 
		<a id="botaoLogin2" type="button" class="btn btn-dark" href="/home/novaCasa">Cadastrar nova Casa</a> </div>
	
</section>



	